/*
=============== 
Footer
===============
*/

.footer {
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
  background: #fff;
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icon {
  color: #ffb703;
}

.footer .social-icon:hover {
  color: #000;
}
.footer p {
  color: #000000;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.parfait {
	margin: 10px;
}

/*
=============== 
Single Page
===============
*/


